<h1>Seja bem vindo ao curso Angular</h1>

<h4 class="text-danger">{{ anuncio }}</h4>

<div class="card" style="width: 18rem">
  <img [src]="foto" class="card-img-top" alt="..."/>
  <div class="card-body">
    <h5 class="card-title">
      {{nomeProduto}}
      <span *ngIf="promocao == true; else elseBlock" class="badge badge-success">
        Promoção
      </span>

      <ng-template #elseBlock>
        <span class="badge badge-primary">Aproveite</span>
      </ng-template>

    </h5>
    <p class="card-text">Identificaçao: {{idProduto}}</p>
    <a href="#" class="btn btn-primary float-right">R$ {{precoProduto}}</a>
  </div>
</div>


<div class="row">
  <div class="col">
    <img src="../../../assets/logo_horacio.png" class="img-fluid">
  </div>
  <div class="col">
    <img src="../../../assets/crud.png" class="img-fluid">
  </div>
</div>
