<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/logo_horacio.png" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/crud.png" class="card-img-top" alt="...">
    </div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xl">
      <h4>Solução</h4>
      <h5>Entrada</h5>
      <p>Cadastro de perfil ou de empresa</p>
      <h5>Processo</h5>
      <p>Avaliar em qual perfil o usuário se encaixa e recomendá-lo a empresas cadastradas como contratantes similares
        ao perfil</p>
      <h5>Saída</h5>
      <p>Exibir empresas que atendem o perfil do usuário e quais manifestaram interesses</p>
    </div>
  </div>
</div>
-->

<router-outlet></router-outlet>
