<h1 class="my-3 text-primary">
  Listar Produtos
  <button type="button" routerLink="/produtos/cadastrar" class="btn btn-success mt-2 float-right">Cadastrar</button>
</h1>

<div class="card shadow">
  <table class="table table-responsive table striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Validade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let prod of listaProdutos">
        <td>{{prod.id}}</td>
        <td>{{prod.nome}}</td>
        <td>{{prod.validade | date: "shortDate"}}</td>
        <td>{{prod.precoProduto | currency:'BRL'}}</td>
        <td>
          <button class="btn btn-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger ml-2">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
